Presentation/Nop.Web/Service References/PPService/NopService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://46.221.62.178:8733/NopService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfMATCHING_S">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MATCHING_S" nillable="true" type="tns:MATCHING_S" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMATCHING_S" nillable="true" type="tns:ArrayOfMATCHING_S" />
  <xs:complexType name="MATCHING_S">
    <xs:sequence>
      <xs:element minOccurs="0" name="BASE_ID" type="xs:long" />
      <xs:element minOccurs="0" name="BASE_STR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="MATCH_ID" type="xs:long" />
      <xs:element minOccurs="0" name="MATCH_STR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TABLE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUE_" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MATCHING_S" nillable="true" type="tns:MATCHING_S" />
  <xs:complexType name="ArrayOfRESULT_S">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RESULT_S" nillable="true" type="tns:RESULT_S" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRESULT_S" nillable="true" type="tns:ArrayOfRESULT_S" />
  <xs:complexType name="RESULT_S">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RSLT" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESULT_S" nillable="true" type="tns:RESULT_S" />
  <xs:complexType name="ArrayOfWSData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WSData" type="tns:WSData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWSData" nillable="true" type="tns:ArrayOfWSData" />
  <xs:complexType name="WSData">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Val1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val17" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val18" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val19" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val9" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSData" nillable="true" type="tns:WSData" />
  <xs:complexType name="CUSTOMER_LIMIT">
    <xs:sequence>
      <xs:element minOccurs="0" name="BAKIYE" type="xs:decimal" />
      <xs:element minOccurs="0" name="CUSTOMER_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMER_ID" type="xs:long" />
      <xs:element minOccurs="0" name="LIMIT" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CUSTOMER_LIMIT" nillable="true" type="tns:CUSTOMER_LIMIT" />
</xs:schema>