Presentation/Nop.Web/Service References/PPService/NopService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://31.206.53.244:8733/NopService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Models" />
  <xs:import schemaLocation="http://31.206.53.244:8733/NopService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://31.206.53.244:8733/NopService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:import schemaLocation="http://31.206.53.244:8733/NopService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PPLibrary" />
  <xs:element name="GetAddressFromErp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressFromErpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetAddressFromErpResult" nillable="true" type="q1:ArrayOfCustomerAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersFromErp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersFromErpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetOrdersFromErpResult" nillable="true" type="q2:DocumentxResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectUnityTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectUnityTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjectUnityTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFinancialReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFinancialReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetCustomerFinancialReportResult" nillable="true" type="q3:FinanceReportModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFinancial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFinancialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetCustomerFinancialResult" nillable="true" type="q4:FinanceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFinancialHesapEkstre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEndDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFinancialHesapEkstreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetCustomerFinancialHesapEkstreResult" nillable="true" type="q5:DocumentxResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFinancialYaslandirmaEkstre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFinancialYaslandirmaEkstreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetCustomerFinancialYaslandirmaEkstreResult" nillable="true" type="q6:DocumentxResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicesFromErp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicesFromErpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetInvoicesFromErpResult" nillable="true" type="q7:DocumentxResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyNopPaymentToErp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="item" nillable="true" type="q8:ErpPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyNopPaymentToErpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="CopyNopPaymentToErpResult" nillable="true" type="q9:ErpPaymentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsFromErp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsFromErpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetProductsFromErpResult" nillable="true" type="q10:ErpProductResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErpProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErpProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetErpProductResult" nillable="true" type="q11:ErpProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersFromErp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersFromErpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetCustomersFromErpResult" nillable="true" type="q12:ErpCustomerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesOrdersNopToErp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="orders" nillable="true" type="q13:ArrayOfDocumentx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesOrdersNopToErpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="SalesOrdersNopToErpResult" nillable="true" type="q14:ArrayOfNotes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyOrdersNopToErp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEndDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyOrdersNopToErpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="CopyOrdersNopToErpResult" nillable="true" type="q15:ProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOrdersFromNop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEndDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOrdersFromNopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetNewOrdersFromNopResult" nillable="true" type="q16:DocumentxResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNopOrdersErpInvoiced">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clntOrdIds" nillable="true" type="q17:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNopOrdersErpInvoicedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNopOrdersErpInvoicedResult" nillable="true" type="q18:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchTwoRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="M" nillable="true" type="q19:ArrayOfMATCHING_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchTwoRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="MatchTwoRecordResult" nillable="true" type="q20:ArrayOfRESULT_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="getMatchingListResult" nillable="true" type="q22:ArrayOfMATCHING_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="getMatchResult" nillable="true" type="q23:MATCHING_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="DeleteMatchesResult" nillable="true" type="q25:ArrayOfRESULT_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="M" nillable="true" type="q26:ArrayOfMATCHING_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="MatchRecordsResult" nillable="true" type="q27:ArrayOfRESULT_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlExecuteNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlExecuteNonQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlExecuteNonQueryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWSData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWSDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="GetWSDataResult" nillable="true" type="q28:ArrayOfWSData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="GetCustomerLimitResult" nillable="true" type="q29:CUSTOMER_LIMIT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PPLibrary" minOccurs="0" name="GetGeneralSettingsResult" nillable="true" type="q30:GENERAL_SETTINGS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetOrderResult" nillable="true" type="q31:Documentx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PPLibrary" minOccurs="0" name="composite" nillable="true" type="q32:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PPLibrary" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q33:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>